<html lang="pt-BR">
  <head>
    <title>Document</title>
  </head>
  <body>
    <h1>Noticia!</h1>

    <table>
      <tr>
        <td>Conteudo</td>
      </tr>
      <tr>
        <td><%= noticia[0].conteudo %></td>
      </tr>
    </table>
  </body>
</html>
